name: Workflow input Example

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        default: 'production'
      rollback:
        required: true
        default: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying to ${{ github.event.inputs.environment }} environment"

  Test:
		needs : deploy
    runs-on: ubuntu-latest
    steps:
      - run: echo "Testing the rollback variable value by giving manual values ${{ github.event.inputs.rollback }}"

