name: Pipeline Name

on:
  push:
    branches:
      - master

jobs:
  notify:
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Send a Notification
        id: notify
        uses: thechetantalwar/teams-notify@v2
        with:
          teams_webhook_url: ${{ secrets.TEAMS_WEBHOOK_URL }}
          message: "GitHub Action Build Number ${{ github.run_number }} completed for ${{ github.repository }} and the outcome is ${{ needs.build.result }}."
